/* 


source: https://google-webfonts-helper.herokuapp.com/


*/

/* bebas-neue-regular - latin */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/bebas-neue-v2-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/bebas-neue-v2-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/bebas-neue-v2-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/bebas-neue-v2-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/bebas-neue-v2-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/bebas-neue-v2-latin-regular.svg#BebasNeue") format("svg"); /* Legacy iOS */
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ibm-plex-mono-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/ibm-plex-mono-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/ibm-plex-mono-v6-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/ibm-plex-mono-v6-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/ibm-plex-mono-v6-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/ibm-plex-mono-v6-latin-regular.svg#IBMPlexMono") format("svg"); /* Legacy iOS */
}

/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ibm-plex-mono-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/ibm-plex-mono-v6-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/ibm-plex-mono-v6-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/ibm-plex-mono-v6-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/ibm-plex-mono-v6-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/ibm-plex-mono-v6-latin-700.svg#IBMPlexMono") format("svg"); /* Legacy iOS */
}
